.wrapper {
    width: 85%;
    height: 100%;
    margin: 0 auto;
}

.home-body {
    background-image: linear-gradient(
        red, #f06d06
    );
    min-width: 100%;
    min-height: 100%;
}

.left-box {
    float: left;
    margin-top: 20px
}

.profile-box {
    min-height: 200px;
    min-width: 350px;
    background-color: white;
    border-radius: 10px;
    border: 5px solid black;
    text-align: center;
    padding-bottom: 10px;
}


.twitter-image {
    height: 75px;
    margin-top: 10px;
}

.profile-box h1 {
    font-size: 25px;
    font-family: 'Erica One';
    letter-spacing: 1px;
}

.profile-box p {
    font-size: 20px;
    font-family: 'Open Sans',sans-serif;
    padding-bottom: 20px;
}

.logout-button button {
    padding: 20px 35px;
    width: 160px;
    font-size: 15px;
}

.tweet-box {
    background-color: white;
    min-height: 200px;
    width: 350px;
    border-radius: 10px;
    margin-top: 20px;
    border: 5px solid black;
}

.tweet-button textarea {
    margin-left: 10px;
    margin-top: 10px;
    width: 325px;
    height: 100px;
    resize: none;
}

.tweet-button button {
    padding: 20px 35px;
    width: 160px;
    display: block;
    margin: auto;
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 10px;
}

.alert-danger {
    text-align: center;
}

.alert-danger li {
    margin-top: 10px;
}

.right-box {
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}

.your-tweet-box, .your-timeline-box, .header-box {
    width: 500px;
    background-color: white;
    border-radius: 10px;
    border: 5px solid black;
}


.tweets-left {
    float: left;
    padding-left: 30px;
}

.timeline-right {
    float: right;
    padding-right: 30px;
}

.header-box h1 {
    font-size: 25px;
    font-family: 'Erica One';
    letter-spacing: 1px;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 15px;
}

.header-box h1:hover {
    cursor: pointer;
}

.your-tweet-box li, .your-timeline-box li {
    text-align: center;
    border-bottom: 2px solid black;
    padding: 15px 0px;
    font-family: 'Open Sans',sans-serif;
}

.invisible {
    display: none;
}

.grey-color {
    color: #C3C6C7;
}
