a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

html, body {
    margin: 0;
    height: 100%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.welcome-header {
    width: 100%;
    height: 150px;
    background-color: black;
}

.welcome-header h1 {
    color: white;
    font-size: 68px;
    font-family: 'Erica One';
    text-align: center;
    padding-top: 40px;
    letter-spacing: 5px;
}

/*red, #f06d06*/

.welcome-body {
    background-image: linear-gradient(
        red, #f06d06
    );
    width: 100%;
    height: 700px;
}

.login-button {
    text-align: center;
    padding-top: 210px;
}

.login-button button {
    height: 200px;
    width: 300px;
    font-size: 30px;
    font-family: 'Erica One';
    border-radius: 10px;
    background-color: white;
}




/*.welcome-content {
    text-align: center;
    padding-top: 200px;
}

.login-button {
    padding-bottom: 50px;
}

.login-button button, .logout-button button {
    height: 100px;
    width: 200px;
    font-size: 20px;
    color: blue;
}
*/
